Source: ros-melodic-rosmsg-cpp
Section: misc
Priority: optional
Maintainer: Martin Pecka <peckama2@fel.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), python-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-ros-environment, ros-melodic-roslib, ros-melodic-rosunit
Homepage: https://github.com/ctu-vras/rosmsg_cpp
Standards-Version: 3.9.2

Package: ros-melodic-rosmsg-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dev, ros-melodic-message-runtime, ros-melodic-roslib
Description: C++ library for getting full message definition or MD5 sum given message type as string
